

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .pointer{
    color: #03A9F4; 
    cursor: pointer;
  }

  .text-elip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
